<div class="gajo-wrapper">
  <svg
    [attr.width]="tamano"
    [attr.height]="calcAltura(tamano)"
    viewBox="0 0 200 100"
    preserveAspectRatio="xMidYMid meet"
  >
    <!-- Path modificado para que el gajo se adentre más hacia el centro -->
    <path
      d="M20,10 
         Q15,10 15,20 
         L15,80 
         Q15,90 25,90 
         L150,50 
         Q160,50 150,45 
         Z"
      [attr.fill]="gajo.color"
      [attr.stroke]="selected ? '#B99B1E' : gajo.borderColor"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</div>

