<div class="premio-container" [ngClass]="{ 'perdedor': !esGanador }" [ngStyle]="esGanador && colorGajo ? {'background-color': colorGajo} : {}">
    <div class="medio-circulo" *ngIf="esGanador" [ngStyle]="colorGajo ? {'background-color': colorGajo} : {}">
      <img src="assets/premios/corona.png" alt="Corona" class="corona" />
    </div>
    <div class="contenido">
      <h2>{{ titulo }}</h2>
      <p>{{ descripcion }}</p>
      <img *ngIf="icono" [src]="icono" alt="Icono premio" class="icono-premio" />
    </div>
  </div>